<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Рецепты</title>
</head>
<body>
    <h1>Список рецептов:</h1>
    <ul>
        {% for recipe in recipes %}
            <li>
                <strong>{{ recipe.title }}</strong><br>
                <em>Ингредиенты:</em> {{ recipe.ingredients|join:", " }}<br>
                <em>Инструкции:</em> {{ recipe.instructions|join:". " }}<br>
                <small>Создано: {{ recipe.created_at }}</small>
            </li>
        {% endfor %}
    </ul>
</body>
</html>